<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>

    <div class="container mb-5">
        <hr>
        <h1> Perguntas </h1>
        <hr>
        <a href="/perguntar" class="btn btn-primary">Perguntar</a>

        <% questions.forEach((question) => { %>
            <div class="card mt-3">
                <div class="card-body">
                    <h3><%= question.title %></h3>
                </div>
                <div class="card-footer">
                    <a href="/pergunta/<%= question.id %>" class="btn btn-primary">Responder</a>
                </div>
            </div>
        <% }) %>
    </div>
</body>
<%- include('./partials/footer.ejs') %>